@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  color: #FFFFFF;
}

.gradient {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,22,121,1) 30%, rgba(253,0,255,1) 100%);
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
